### Project - MovieLens Data Analysis

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.

#### Domain 
Internet and Entertainment

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

In [ ]:
''' This is analysis of MovieLens data using Python concepts/learning's '''

#### 1. Import the necessary packages - 2.5 marks

In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler

#### 2. Read the 3 datasets into dataframes - 2.5 marks

In [19]:
movielens_data = pd.read_csv("Data.csv")
movielens_userdata = pd.read_csv("user.csv")
movielens_itemdata = pd.read_csv("item.csv")
#movielens_data.head(3)
#movielens_userdata.head(3)
movielens_itemdata.head(3)

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye,01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

#### 3. Apply info, shape, describe, and find the number of missing values in the data - 5 marks

In [20]:
movielens_itemdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie id      1681 non-null   int64
 1   movie title   1681 non-null   object
 2   release date  1681 non-null   object
 3   unknown       1681 non-null   int64
 4   Action        1681 non-null   int64
 5   Adventure     1681 non-null   int64
 6   Animation     1681 non-null   int64
 7   Childrens     1681 non-null   int64
 8   Comedy        1681 non-null   int64
 9   Crime         1681 non-null   int64
 10  Documentary   1681 non-null   int64
 11  Drama         1681 non-null   int64
 12  Fantasy       1681 non-null   int64
 13  Film-Noir     1681 non-null   int64
 14  Horror        1681 non-null   int64
 15  Musical       1681 non-null   int64
 16  Mystery       1681 non-null   int64
 17  Romance       1681 non-null   int64
 18  Sci-Fi        1681 non-null   int64
 19  Thriller      1681 non-null   int64
 20  War           1681 non-null   int64
 21  Western       1681 non-null   int64
dtypes: int64(20), object(2)
memory usage: 289.0+ KB

#### 4. Find the number of movies per genre using the item data - 5 marks

In [ ]:
# use sum on the default axis

#### 5. Find the movies that have more than one genre - 2.5 marks

In [ ]:
#hint: use sum on the axis = 1

#### 6. Drop the movie where the genre is unknown - 2.5 marks

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

In [ ]:
# HINT: use distplot for age and countplot for gender,ratings,occupation.
# HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split()
# as depicted below
# Hint : Use displot without kde for release year or line plot showing year wise count.

In [ ]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

In [ ]:
#your answers here

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the number of releases in a year as a parameter of popularity of a genre

Hint 

1: you need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa.
Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 2: Use groupby on the relevant column and use sum() on the same to find out the nuumber of releases in a year/genre.

In [ ]:
#Your answer here

### 9. Find the top 25 movies according to average ratings such that each movie has number of ratings more than 100 - 10 marks

Hint : 
1. First find the movies that have more than 100 ratings(use merge, groupby and count). Extract the movie titles in a list.
2. Find the average rating of all the movies and sort them in the descending order. You will have to use the .merge() function to reach to a data set through which you can get the names and the average rating.
3. Use isin(list obtained from 1) to filter out the movies which have more than 100 ratings.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

In [ ]:
#your answer here

### 10. See gender distribution across different genres check for the validity of the below statements - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

1. There is no need to conduct statistical tests around this. Just compare the percentages and comment on the validity of the above statements.

2. you might want ot use the .sum(), .div() function here.
3. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.

#### Conclusion: